.aboutContainer{
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
}
#about{
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    color: rgb(255, 255, 255);
    margin-top: 50px;

    
    
}

#about p{
 margin-left: 50px;
 margin-right: 50px;
 font-size: 20px;
}
#about h1{
    font-size: 30px;
    align-items: center;


}
    

